:root {
  --main-color: #04aa6d;
  --ar-color: #0075ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}

body.dark {
  background-color: #23272f;
}

a {
  text-decoration: none;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}

/* Start Header */

header {
  position: relative;
  height: 450px;
  background-image: url("../images/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 60%);
}

header .mode {
  z-index: 10;
  position: absolute;
  color: #fff;
  right: 5px;
  top: 10px;
  cursor: pointer;
  border: 2px solid var(--main-color);
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s;
}
header .mode.active {
  background-color: var(--main-color);
}
header a i {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 5px;
  cursor: pointer;
  border: 2px solid var(--main-color);
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s;
  color: #fff;
}

header a i:hover {
  background-color: var(--main-color);
}

header .info {
  position: absolute;
  color: #fff;
  z-index: 11;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 25px;
}

header .info h1 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin: 5px 0 0 0;
}

header .info h1 a {
  color: #fff;
}

@media (max-width: 650px) {
  header .info h1 {
    display: block;
    width: 350px;
    font-size: 30px;
  }
}

.heading {
  text-align: center;
  background-color: #04aa6de0;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 10px;
  font-size: 30px;
}
@media (max-width: 650px) {
  .heading {
    font-size: 18px;
  }
}

.heading-ch {
  text-align: center;
  background-color: #04aa6de0;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 40px;
  font-size: 30px;
}
@media (max-width: 650px) {
  .heading-ch {
    font-size: 18px;
  }
}

header .stars {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* End Header */

header .book {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #04aa6d;
  color: #fff;
  border-radius: 50%;
  margin: 0 auto;
}

header h2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 280px;
  height: 40px;
  border: 2px solid #04aa6d;
  background-color: #04aa6d;
  color: #fff;
  border-radius: 120px;
  letter-spacing: 1px;
  transition: 0.3s;
  margin: 0 auto 30px auto;
}

header h2 a:hover {
  opacity: 0.8;
}

@media (max-width: 686px) {
  header h2 a {
    width: 250px;
    font-size: 18px;
  }
}

/* Start Footer */
footer {
  background-color: #000;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.6;
}

@media (max-width: 650px) {
  footer {
    font-size: 18px;
    text-align: center;
  }
}

footer span {
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer */

/* Start Content */
.content {
  background-color: #f2f2f2;
  margin: 20px 0;
  border-radius: 10px;
}
.content > div {
  padding: 20px;
}

@media (max-width: 650px) {
  .content > div {
    padding: 10px;
  }
}

.content.dark {
  background-color: #23272f;
}

/* End Content */

.trad-new {
  background-image: url(../images/back.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
  height: 320px;
  position: relative;
  overflow: hidden;
  border-right: 3px solid #007a65;
  border-left: 3px solid #007a65;
}
.trad-new.drop {
  height: 420px;
}

.trad-new::before,
.trad-new::after {
  content: "";
  position: absolute;
  z-index: 11;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(
    to right,
    #007a65 17.85%,
    #7f0e7f 53.28%,
    #007a65 100%
  );
  height: 3px;
  width: 100%;
}

.trad-new::before {
  top: 0;
}
.trad-new::after {
  bottom: 0;
}

.trad-new .infor {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trad-new .spar {
  margin: 0 0 15px;
  color: #fff;
  width: 80px;
  height: 80px;
}

.trad-new .book {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #04aa6d;
  color: #fff;
  border-radius: 50%;
}

.trad-new.grad a {
  margin-top: 40px;
}
.trad-new a h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 18px;
  width: 280px;
  height: 40px;
  border: 2px solid #04aa6d;
  background-color: #04aa6d;
  color: #fff;
  border-radius: 120px;
  letter-spacing: 1px;
  transition: 0.3s;
}

header a h3:hover {
  opacity: 0.8;
}

@media (max-width: 686px) {
  header a h3 {
    width: 250px;
    font-size: 18px;
  }
}

.em {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.em img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 10px;
}

.par {
  text-align: center;
}

.par .count-down {
  margin: 10px 0;
  font-size: 30px;
  border: 2px solid var(--main-color);
  padding: 10px;
  border-radius: 8px;
  font-size: 28px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  text-align: center;
}

.unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  width: 75px;
  transition: 0.3s;
}

.unit:hover {
  border-color: var(--main-color);
}

.time span {
  display: block;
}

.unit span:first-of-type {
  font-size: 35px;
  font-weight: bold;
  color: #d4d4d4;
  padding: 15px;
}

.unit span:last-of-type {
  border-top: 1px solid #d4d4d4;
  padding: 8px 10px;
  font-size: 13px;
  transition: 0.3s;
}

.unit:hover span:last-of-type {
  border-color: var(--main-color);
}

.trad-new.grad img.stars {
  position: absolute;
  z-index: 15;
}

/* dropdown  */

/* Dropdown Button */

.drop-parent {
  position: absolute;
  font-family: "Cairo", sans-serif;
  left: 50%;
  top: 23%;
  transform: translate(-50%, -50%);
  z-index: 22;
}

.dropbtn {
  background-color: #04aa6d;
  color: white;
  width: 260px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  opacity: 0.9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  background-color: #16181d;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 25;
  top: 70px;
  border-radius: 10px;
}
.dropdown-content::before {
  content: "";
  position: absolute;
  border-width: 15px;
  border-color: transparent transparent #16181d transparent;
  border-style: solid;
  left: 50%;
  transform: translateX(-50%);
  top: -26px;
}

.trad-new a:first-child:not(.trad-new.style) {
  margin-top: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.2s;
}
.dropdown-content span {
  font-size: 10px;
  color: var(--main-color);
  transition: 0.2s;
}
.dropdown-content a:hover span {
  color: #fff;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #04aa6d;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.trad-new.drop {
  background-image: url("/images/back-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.trad-new.drop {
  position: relative;
}
.trad-new.drop .spar {
  position: absolute;
  top: 3px;
  z-index: 26;
  width: 65px;
  height: 65px;
}

.trad-new.drop a {
  font-size: 16px;
}
.trad-new.drop a:not(:first-child) {
  border-top: 1px solid #343a46;
}
