:root {
  --main-color: #04aa6d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}

body.dark {
  background-color: #23272f;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}

a {
  text-decoration: none;
}

/* Start Header */

header {
  position: relative;
  height: 450px;
  background-image: url("../images/quiz.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 60%);
}

header .mode {
  z-index: 10;
  position: absolute;
  color: #fff;
  right: 5px;
  top: 10px;
  cursor: pointer;
  border: 2px solid var(--main-color);
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s;
}
header .mode.active {
  background-color: var(--main-color);
}
header a i {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 5px;
  cursor: pointer;
  border: 2px solid var(--main-color);
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s;
  color: #fff;
}

header a i:hover {
  background-color: var(--main-color);
}

header .info {
  position: absolute;
  color: #fff;
  z-index: 11;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 25px;
}

header .info h1 {
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

header .info h1 a {
  color: #fff;
}

@media (max-width: 650px) {
  header .info h1 {
    display: block;
    width: 350px;
    font-size: 35px;
  }
}

.heading {
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 10px;
  font-size: 30px;
}
@media (max-width: 650px) {
  .heading {
    font-size: 18px;
  }
}

.heading-ch {
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 40px;
  font-size: 30px;
}
@media (max-width: 650px) {
  .heading-ch {
    font-size: 18px;
  }
}

/* End Header */

/* Start Footer */
footer {
  background-color: #000;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.6;
}

@media (max-width: 650px) {
  footer {
    font-size: 18px;
    text-align: center;
  }
}

footer span {
  color: var(--main-color);
  font-weight: bold;
}

footer a {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 250px;
  margin: 10px auto;
  color: #fff;
  padding: 10px;
  border: 2px solid var(--main-color);
  transition: 0.3s;
}
footer a:hover {
  background-color: var(--main-color);
}

footer a h4 span {
  color: #fff;
}

/* End Footer */

/* Start */

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50%;
}

.category {
  background-color: #04aa6d14;
  color: var(--main-color);
  font-size: 18px;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 auto;
  line-height: 1.5;
}

.count {
  background-color: #04aa6d14;
  color: var(--main-color);
  font-size: 18px;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  height: fit-content;
}
.count-two {
  background-color: #ff000026;
  color: var(--main-color);
  font-size: 15px;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  direction: rtl;
  display: block;
  color: #e50914;
}

.quiz-info.dark .count-two {
  color: #fff;
}

/* End */
.quiz-app {
  margin: 20px auto;
  width: 100%;
  background-color: #f8f8f8;
  padding: 15px;
}
.quiz-app.dark {
  background-color: #000;
}

.quiz-app .quiz-info {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  gap: 8px;
  border-radius: 10px;
}
.quiz-app .quiz-info.dark {
  background-color: #16181d;
}

@media (max-width: 767px) {
  .quiz-app .quiz-info {
    flex-direction: column;
  }
}

.quiz-app .quiz-area {
  background-color: #fff;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px 10px 0px 0px;
}
.quiz-app .quiz-area.dark {
  background-color: #16181d;
  color: #fff;
}

.quiz-app .quiz-area h2 {
  margin: 0;
  line-height: 1.5;
  font-weight: 600;
  direction: rtl;
}
.quiz-app .answers-area {
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 0px 0px 10px 10px;
}
.quiz-app .answers-area.dark {
  background-color: #16181d;
  color: #fff;
}

.quiz-app .answers-area .answer {
  background-color: #f9f9f9;
  padding: 15px;
}
.quiz-app .answers-area.dark .answer {
  background-color: #23272f;
  color: #fff;
}

.quiz-app .answers-area .answer:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}

.quiz-app .answers-area.dark .answer:not(:last-child) {
  border-bottom: 1px solid #343a46;
}

.quiz-app .submit-button {
  display: block;
  background-color: var(--main-color);
  width: 300px;
  padding: 10px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 60px;
  margin: 20px auto;
  transition: 0.3s;
}

.quiz-app .submit-button:hover {
  opacity: 0.9;
}

.quiz-app .submit-button:focus {
  outline: none;
}

.right-ans {
  display: block;
  background-color: #e50914;
  width: 300px;
  padding: 10px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px auto;
  transition: 0.3s;
}

.right-ans:hover {
  opacity: 0.9;
}

.right-ans:focus {
  outline: none;
}

.quiz-app .results span {
  font-weight: bold;
}
.quiz-app .results span.bad {
  color: #dc0a0a;
}
.quiz-app .results span.good {
  color: #0075ff;
}
.results span.perfect {
  color: var(--main-color);
}

.quiz-app .results {
  position: relative;
  text-align: center;
  font-size: 32px;
  padding: 20px;
}

.quiz-app .results h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.img-a {
  max-width: 100%;
}

.the-answer h3 {
  background-color: #ff000026;
  display: none;
  text-align: center;
  margin: 10px auto;
  color: #fff;
  width: fit-content;
  padding: 10px;
  font-size: 20px;
  font-weight: normal;
  border-radius: 10px;
  line-height: 2;
  color: #e50914;
}

.answer-input {
  width: 100%;
  font-size: 20px;
  padding: 20px;
  resize: none;
  border: none;
  background-color: #cccccc73;
  border: 1px solid #ccc;
  font-family: "Roboto", "Cairo";
  line-height: 1.5;
  letter-spacing: 1px;
  border-radius: 20px;
  min-height: 250px;
  transition: 0.3s;
  color: #16181d;
}

textarea::placeholder {
  color: #16181ddd;
  transition: opacity 0.3s;
}
textarea:focus {
  outline: none;
  background-color: #f8f8f8;
}
textarea:focus::placeholder {
  opacity: 0;
}

.wrong-answer {
  display: none;
  text-align: center;
  background-color: #f00;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  width: fit-content;
  margin: 10px auto;
  font-size: 14px;
}

.quiz-app.dark .the-answer h3 {
  color: #fff;
}
